<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <div class="col-lg-12">
                    请输入数字：
                </div>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="shuzi">
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-success">查询</button>
                </div>
            </div>
        </div>
    </div>
<script>

</script>
</body>
</html>
