<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>result</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li class="active"><a href="#">查询结果</a></li>
            </ol>
            <p> <%=number%>数字的因数如下：</p>
            <ul>
                <%
                    for (let i = 0; i< result.length;i++){%>
                        <li>
                          <%=result[i]%>
                        </li>

                <%
                    }
                %>
            </ul>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script>

</script>
</body>
</html>
